In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("dataset.csv")

In [3]:
dataset["powerA"] = dataset["VoltageA"] * dataset["Current A"]

In [4]:
dataset["powerB"] = dataset["VoltageA"] * dataset["Current B"]

In [5]:
dataset.head()

    X_Value  Current A  Current B    VoltageA      powerA      powerB
0  0.000000   0.742134   1.340304 -149.180629 -110.712017 -199.947394
1  0.000083   0.933177  -1.443007 -144.194623 -134.559106  208.073850
2  0.000167   0.827042  -0.915865 -138.956161 -114.922581  127.265084
3  0.000250   0.911950  -0.726094 -136.810285 -124.764139   99.337127
4  0.000333   1.102993  -1.000208 -132.581647 -146.236629  132.609224